<%= turbo_frame_tag dom_id(message) do %>
  <% if message.user_id == current_user.id %>
  
    <div class='flex justify-end '>
      <div class='pr-9 p-2 pb-3  text-white bg-[#005c4b] text-sm max-w-max my-[2px]  rounded-md relative'> 
        <%= message.message %>
        <div class='horario text-[#aebac1]  absolute bottom-0 right-0 '>
          <%= message.created_at.strftime('%H:%M') %>
        </div>
      </div>
    </div>
  <% else %>
    <div class='flex justify-start items-baseline'>
      <div class='p-2 pr-9 pb-3  text-white bg-[#1f2c32] text-sm max-w-max my-[2px]  rounded-md relative'> 
        <%= message.message %>
        <div class='horario text-[#aebac1] absolute bottom-0 right-0 '>
          <%= message.created_at.strftime('%H:%M') %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>